.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 15px;
    padding-top: 5px;
}
.navi{
    padding-top: 0px;
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 30px;
}
.buy-now-button{
    background-image: linear-gradient(90deg,#003728, #008461);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    border: none;
    margin-left: 110px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.shoes h5{
    color: green;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px gray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: cyanblue;
}
.support{
    width: 700px;
    margin-left: 200px;   
}
.banglachi{
    color: #008461;
}
.cardsize{
    width: 300px;
    float: left;
}
#cardplace{
    margin-right: 50px;
}
footer{
    text-align: center;
}